# static engine of your blog
siteEngine: "jekyll"
# root directory of your blog
siteLocalDir: "/home/shadowlightwolf/.projects/local/linux-terminal-aid"
# directory to drafts from the root of siteLocalDir
siteDraftsDir: "_drafts/"
# directory to posts from the root of siteLocalDir
sitePostsDir: "_posts/"
# directory to images from the root of siteLocalDir
siteImagesDir: "images/blog/"
# URL to your blog
siteUrl: "http://shadowlightwolf89.github.io/linux-terminal-aid/"
# URLs to tags/posts/categories JSON file
urlForTags: "http://shadowlightwolf89.github.io/linux-terminal-aid/tags.json"
urlForPosts: "http://shadowlightwolf89.github.io/linux-terminal-aid/posts.json"
urlForCategories: "http://shadowlightwolf89.github.io/linux-terminal-aid/categories.json"
# front matter template
frontMatter: """
---
layout: <layout>
title: '<title>'
tagline:
date: <date>
category: [<category>]
tags: [<tags>]
shortContent:
---
"""
# use Jekyll highlight code block
# change this requires reload, shift-cmd-P -> Window Reload
'codeblock':
  'before': '{% highlight %}\n'
  'after': '\n{% endhighlight %}'
  'regexBefore': '{% highlight(?: .+)? %}\n'
  'regexAfter': '\n{% endhighlight %}'
  # use Octopress img tag
  'imageTag': "{% img <align> <src> <width> <height> '{alt}' %}"
